body {
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
}


.left_link {
    float: left;
}

.right_link {
    float: right;

}

#link3 {
    float: left;
}

#link4 {
    float: right;
}

a {
    color: darkslategray;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: darkslategray;
}

.button {
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
}

.button:hover {
    border-color: darkslategray;
}


.picture {
    padding-top: 150px;

}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    padding: 15px;
    background-color: #F2F2F2;
}

.writing_box {
    text-align: left;
    width: 90%;
    border: none;
    outline: none;
}

.search {
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    padding: 14px;
    width: 600px;
    color: #222;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
}

.voicelogo {
    float: right;
    height: 24px;
    width: 24px;
}

.magnifying {
    float: left;
    height: 24px;
    width: 24px;
}

.ppic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}